[submodule "E2FGVI"]
	path = E2FGVI
	url = https://github.com/MCG-NKU/E2FGVI.git
	update = none

[submodule "mmdeploy"]
	path = mmdeploy
	url = https://github.com/open-mmlab/mmdeploy.git
	update = none

[submodule "edgeconnect/src"]
	path = edgeconnect/src
	url = https://github.com/knazeri/edge-connect.git
	update = none

[submodule "wavepaint"]
	path = wavepaint
	url = https://github.com/Zj-BinXia/WavePaint
	update = none

[submodule "wavepaint_places256"]
	path = wavepaint_places256
	url = https://github.com/Zj-BinXia/WavePaint
	update = none

[submodule "wavepaint_weights"]
	path = wavepaint_weights
	url = https://example.invalid/wavepaint_weights.git
	update = none
